<section class="book-section" data-id="<%= id %>">
  <h1><%= title %></h1>

  <div class="book-grid" id="<%= id %>-grid">
    <% books.forEach((book, index) => { %>
      <button class="book-card" data-index="<%= index %>" data-id="<%= book.id_ksiazki %>" onclick="GoToBookPage(this)">
        <article>
          <%- include('book_short', { book }) %>
        </article>
      </button>
    <% }) %>
  </div>

  <div class="section-button">
    <button id="<%= id %>-prev" class="section-button-btn">‹</button>
    <button id="<%= id %>-next" class="section-button-btn">›</button>
  </div>
</section>
