<div class="book-title">
    <h4 title="<%= book.tytul %>">
        <%= book.tytul.length > 18 ? book.tytul.slice(0, 15) + '...' : book.tytul %>
    </h4>
    <i class="fa-solid fa-basket-shopping"></i>
</div>

<img src='images/books/<%= book.okladka %>' alt='<%= book.okladka %>'>

<ul>
    <li><strong>Autor:</strong> <%= book.imie %> <%= book.nazwisko %></li>
    
    <li><strong>Gatunki:</strong><br>
        <% 
            const genres = book.gatunki.split(',').slice(0, 2);

            genres.forEach(function(genre) { 
        %>
            <span class="gatunek-tag <%= genre.toLowerCase().replace(/\s/g, '-') %>"><%= genre %></span><br>
        <% }); %>
        
    </li>

    <li class="book-price">
        <strong>Cena: </strong>
        <% 
            const price = book.cena;
            const promotion = book.promocja;
        %>

        <% if (promotion) { %>
            <s class="promotion-text"><%= price; %> zł</s> <s class="promotion-new-text"><%= (parseInt(price) * (parseInt(promotion) / 100)).toFixed(2); %> zł</s>
        <% } else { %>
            <%= price; %> zł
        <% } %>
    </li>
</ul>