<h4 title="<%= book.tytul %>">
    <%= book.tytul.length > 18 ? book.tytul.slice(0, 15) + '...' : book.tytul %>
</h4>

<img src='images/books/<%= book.okladka %>' alt='<%= book.okladka %>'>

<ul>
    <li><strong>Autor:</strong> <%= book.imie %> <%= book.nazwisko %></li>
    <li><strong>Gatunki:</strong> <%= book.gatunek %></li>
    <li><strong>Ilość stron:</strong> <%= book.ilosc_stron %></li>
    <li><strong>Cena:</strong> <%= book.cena %> zł</li>
    <li><strong>Na stanie:</strong> <%= book.ilosc_na_stanie %></li>
</ul>