<%- include('../partials/html', { 
    title : "Lista autorów",
    styles : [ 'home/authors' ],
}); %>
    
<body>
    <%- include('../partials/header') %>

    <main>
        <% if (typeof error !== 'undefined' && error) { %>
            <p><%= error %></p>
        <% } %>

        <% if (typeof authors !== 'undefined' && authors) { %>
            <ul>
                <% authors.forEach(function(author){ %>
                    <li><a href="/home/?author=<%= author.id_autora %>"><%= author.imie%> <%= author.nazwisko%></a></li>
                <%})%>
            </ul>
        <% } %>
    </main>

    <%- include('../partials/footer') %>    
</body>

</html>