<%- include('../partials/html', { 
    title : "Lista gatunków",
    styles : [ 'home/genres' ],
}); %>
    
<body>
    <%- include('../partials/header') %>

    <main>
        <% if (typeof error !== 'undefined' && error) { %>
            <p><%= error %></p>
        <% } %>

        <% if (typeof genres !== 'undefined' && genres) { %>
            <ul>
                <% genres.forEach(function(genre){ %>
                    <li><a href="/home/?genre=<%= genre.id_gatunku %>"><%= genre.gatunek %></a></li>
                <%})%>
            </ul>
        <% } %>
    </main>

    <%- include('../partials/footer') %>    
</body>

</html>