<!DOCTYPE html>
<html lang="pl">
  <head>
      <title>Strona główna</title>

      <link rel="stylesheet" href="/css/index.css" />
      <link rel="stylesheet" href="/css/footer.css" />
      <link rel="stylesheet" href="/css/header.css" />
      <link rel="icon" type="image/x-icon" href="/images/logo/icon.png" />

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <script src="/js/index.js" defer></script>

      <script src="https://kit.fontawesome.com/8304ccfbd0.js" crossorigin="anonymous" defer></script>
  </head>
  
  <body>
      <%- include('partials/header') %>

      <main>
          <%- include('partials/book_section', {
              title: 'Hity miesiąca',
              id: 'popular',
              books: popularBooks
            }) %>

          <%- include('partials/book_section', {
              title: 'Bestsellery',
              id: 'bestsellers',
              books: bestsellersBooks
            }) %>

            <%- include('partials/book_section', {
              title: 'Ostatnia szansa',
              id: 'last_chance',
              books: lastChanceBooks
            }) %>
      </main>

      <%- include('partials/footer') %>   
  </body>
</html>