<!DOCTYPE html>
<html lang="pl">
  <head>
      <title>Strona główna</title>

      <link rel="stylesheet" href="/css/main.css" />
      <link rel="stylesheet" href="/css/index.css" />
      <link rel="stylesheet" href="/css/footer.css" />
      <link rel="stylesheet" href="/css/header.css" />
      
      <link rel="icon" type="image/x-icon" href="/images/logo/icon.png" />

      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <script src="/js/index.js" defer></script>
      <script src="/js/footer.js" defer></script>
      <script src="/js/book.js" defer></script>
      <script src="https://kit.fontawesome.com/8304ccfbd0.js" crossorigin="anonymous" defer></script>
  </head>
  
  <body>
      <%- include('partials/header', { user: user }) %>

      <main>
          <%- include('partials/book_section', {
              title: 'TOP 10',
              id: 'topBooks',
              books: topBooks
          }) %>

          <%- include('partials/book_section', {
            title: 'NA PROMOCJI',
            id: 'promotionBooks',
            books: promotionBooks
          }) %>

          <%- include('partials/book_section', {
            title: 'OSTATNIE NA SKŁĄDZIE',
            id: 'lastBooks',
            books: lastBooks
          }) %>
      </main>

      <%- include('partials/footer') %>   
  </body>
</html>