<%- include('../partials/html', { 
    title : "Resetuj hasło",
    styles : [ 'customer/panel' ], 
    scripts :[ 'header', 'resetCode' ]
}); %>

<body>
    <%- include('../partials/header') %>

    <main>
        <h1>Twój kod resetujący to: <strong><%= code %></strong></h1>
        
        <% if (typeof error !== 'undefined' && error) { %>
            <p class="error"><%= error %></p>
        <% } %>

        <form action="/user/reset" method="POST" class="login-form">
            <div>
                <label for="resetCode">Kod resetujący*</label>
                <input type="text" name="resetCode" id="existing-code" pattern="[0-9]{6}" placeholder="_ _ _ _ _ _*" required size="6" />
            </div>

            <div>
                <label for="new-password">Nowe hasło*</label>
                <input type="password" name="newPassword" id="new-password" required />
            </div>

            <button type="submit">Zmień hasło</button>
        </form>
    </main>

    <%- include('../partials/footer') %>   
</body>
</html>
