<%- include('../../structure/views/head', { 
    title : "Lista autorów",
    styles : ['/footer/css/conditions.css', '/header/css/header.css'],
    scripts : ['/header/js/header.js']
}); %>
    
<body>
    <%- include('../../header/views/header') %>

    <main>
        <% if (typeof error !== 'undefined' && error) { %>
            <p><%= error %></p>
        <% } %>

        <% if (typeof authors !== 'undefined' && authors) { %>
            <ul>
                <% authors.forEach(function(author){ %>
                    <li><a href="/home/?author=<%= author.id_autora %>"><%= author.imie%> <%= author.nazwisko%></a></li>
                <%})%>
            </ul>
        <% } %>
    </main>

    <%- include('../../footer/views/footer') %>    
</body>

</html>