<%- include('../partials/html', { 
    title : "Koszyk",
    styles : [ 'profile/cart', 'books/promotion' ],
    scripts : [ 'home/remove_user_book', 'home/update_book_amount' ]
}); %>

<% let totalPrice = 0; %>

<body>
    <%- include('../partials/header') %>

    <main>
        <% if (typeof error !== 'undefined' && error) { %>
            <p class="error-message"><%= error %></p>
        <% } %>

        <% if (typeof books !== 'undefined' && books && books.length > 0) { %>
            <ul class="cart-list" id="book-list">
                <% books.forEach(function(book, index) { %>
                    <% 
                        if (book.promocja) totalPrice += (book.promocja * book.ilosc);
                        else totalPrice += (book.cena * book.ilosc);
                    %>

                    <li class="cart-item" id='item-<%= index %>'>
                        <a href="/home/book/<%= book.id_ksiazki %>" class="cart-link">
                            <img src="/images/books/<%= book.okladka %>" alt="<%= book.tytul %>" class="cart-image">
                            
                            <div class="cart-info">
                                <p class="cart-title"><%= book.tytul %></p>
                                <p class="cart-meta"><strong>Autor:</strong> <%= book.autor.imie %> <%= book.autor.nazwisko %></p>
                                <p class="cart-price"><strong>Cena:</strong>
                                    <% if (book.promocja) { %>
                                        <s class="promotion-text"><%= book.cena %> zł</s> 
                                        <span class="promotion-new-text"><%= book.promocja %> zł</span>
                                    <% } else { %>
                                        <%= book.cena %> zł
                                    <% } %>
                                </p>
                            </div>
                        </a>
                    
                        <div class="cart-right-column">
                            <div class="quantity-control">
                                <button type="button" class="decrease-btn" onclick="updateCartBook(this, `<%= book.id_ksiazki %>`, -1, `<%= index %>`)" data-price="<% if (book.promocja) {%><%= book.promocja %><%}else{%><%= book.cena %><%}%>">–</button>
                                <input type="text" value="<%= book.ilosc %>" min="1" class="quantity-input" readonly id="value-<%= index %>">
                                <button type="button" class="increase-btn" onclick="updateCartBook(this, `<%= book.id_ksiazki %>`, 1, `<%= index %>`)" data-price="<% if (book.promocja) {%><%= book.promocja %><%}else{%><%= book.cena %><%}%>">+</button>
                            </div>

                            <button type="submit" class="remove-button add-to-cart" data-id="<%= book.id_ksiazki %>" onclick="removeCartBook(`<%= book.id_ksiazki %>`, `<%= index %>`)">Usuń z koszyka</button>
                        </div>
                    </li>
                <% }); %>
            </ul>

            <div class="cart-summary">
                <% totalPrice = totalPrice.toFixed(2) %>

                <p class="total-line">Łączna kwota: <strong id="total_price"><%= totalPrice %></strong> zł</p>

                <a href="/user/pay" class="checkout-button">Przejdź do zapłaty</a>
            </div>
        <% } else { %>
            <p class="empty-cart">Brak książek w koszyku</p>
        <% } %>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>