<%- include('../partials/html', { 
    title : "Ulubione",
    styles : [ 'profile/favorites', 'books/genres', 'books/promotion', 'books/special_buttons'  ],
    scripts : [ 'home/add_user_book', 'home/remove_user_book' ]
}); %>

<body>
    <%- include('../partials/header') %>

    <main>
        <% if (typeof error !== 'undefined' && error) { %>
            <p><%= error %></p>
        <% } %>

        <% if (typeof books !== 'undefined' && books && books.length > 0) { %>
            <ul class="favorites-list" id="book-list">
                <% books.forEach(function(book, index) { %>
                    <li class="favorite-item" id='item-<%= index %>'>
                        <a href="/home/book/<%= book.id_ksiazki %>" class="favorite-link">
                            <img src="/images/books/<%= book.okladka %>" alt="<%= book.tytul %>">
                            
                            <div class="favorite-info">
                                <p class="favorite-title"><%= book.tytul %></p>
                                <p class="favorite-author"><strong>Autor:</strong> <%= book.autor.imie %> <%= book.autor.nazwisko %></p>      
                                <p class="favorite-opis"><strong>Opis:</strong> <%= book.opis %></p>
                                <p><strong>Gatunki:</strong></p>
                
                                <div>
                                    <% book.gatunki.forEach(function(genre) { %>
                                        <span class="gatunek-tag <%= genre.toLowerCase().replace(/\s/g, '-') %>"><%= genre %></span>
                                    <% }); %>
                                </div>
                               
                                <p><strong>Cena:</strong>
                                    <% if (book.promocja) { %>
                                        <s class="promotion-text"><%= book.cena %> zł</s> 
                                        <span class="promotion-new-text"><%= book.promocja %> zł</span>
                                    <% } else { %>
                                        <%= book.cena %> zł
                                    <% } %>
                                </p>
                            </div>
                        </a>
                        <div class="book-buttons">
                            <button type="submit" class="pill-button add-to-favorites" data-id="<%= book.id_ksiazki %>" onclick="removeFavoriteBook(`<%= book.id_ksiazki %>`, `<%= index %>`)">Usuń z ulubionych</button>
                            <button type="submit" class="pill-button add-to-cart cartButton <% if (user.cartBooks.includes(book.id_ksiazki)) {%>specialButtonActive<%}%>" data-id="<%= book.id_ksiazki %>" onclick="addCartBook(`<%= book.id_ksiazki %>`)">Do koszyka</button>
                        </div>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>Brak ulubionych książek</p>
        <% } %>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>

