<%- include('../partials/head', { 
    title : "Płatność",
    styles : ['/user/css/pay.css'],
    scripts : ['/user/js/phoneNumber.js', '/user/js/postalCode.js']
}); %>

<body>
    <main>
        <% if (typeof error !== 'undefined' && error) { %>
            <p><%= error %></p>
        <% } %>
        <p>Lista książek:</p> 
        <ul>
        <% if (typeof books !== 'undefined' && books) { %>
            <% books.forEach(function(book) { %>
                <li>
                    <h4><%= book.tytul%></h4>
                    <img src="/books/images/books/<%=book.okladka%>" width="auto" height="150">
                </li>
            <%});%>
        <%}%>
        </ul>

        <p>Ostateczna cena: 
            <% if (typeof price !== 'undefined' && price) { %>
                <%=price%> zł
            <%}%>
        </p>

        <% if (typeof userInfo !== 'undefined' && userInfo) { %>
            <form action="/user/pay" method="POST">
                <label for="firstName">Imię*</label>
                <input value='<%= userInfo.imie %>' type="text" id="firstName" name="imie" required>

                <label for="lastName">Nazwisko*</label>
                <input value='<%= userInfo.nazwisko %>' type="text" id="lastName" name="nazwisko" required>

                <label for="street">Ulica*</label>
                <input value='<%= userInfo.ulica %>' type="text" id="street" name="ulica" required>

                <label for="houseNumber">Nr domu*</label>
                <input value='<%= userInfo.numer_domu %>' type="text" id="houseNumber" name="numer_domu" required>

                <label for="apartmentNumber">Nr lokalu*</label>
                <input value='<%= userInfo.numer_lokalu %>' type="text" id="apartmentNumber" name="numer_lokalu" required>

                <label for="postalCode">Kod pocztowy*</label>
                <input value='<%= userInfo.kod_pocztowy %>' type="text" id="postalCode" name="kod_pocztowy" pattern="[0-9]{2}-[0-9]{3}" placeholder="__-___*" required size="6" />

                <label for="city">Miejscowość*</label>
                <input value='<%= userInfo.miejscowosc %>' type="text" id="city" name="miejscowosc" required>

                <label for="phoneNumber">Numer telefonu*</label>
                <input value='<%= userInfo.numer_telefonu %>' type="text" id="phoneNumber" name="numer_telefonu" pattern="[0-9]{9}" placeholder="_________*" required size="6" />

                <label for="deliveryMethod">Wybierz metodę dostawy*</label>
                <select id="deliveryMethod" name="id_dostawy" required>
                    <% if (typeof delivery !== 'undefined' && delivery) { %>
                        <% delivery.forEach(function(deliveryOption) { %>
                            <option value="<%= deliveryOption.id_dostawy %>">
                                <%= deliveryOption.nazwa_dostawy %> - <%= deliveryOption.opis %>. Czas: <%= deliveryOption.czas_dostawy%> (Cena: <%= deliveryOption.cena %> PLN)
                            </option>
                        <% }); %>
                    <%}%>
                </select>

                <button type="submit">Zamów</button>
            </form>
        <%}%>
    </main>

    <%- include('../partials/footer') %>
</body>

</html>