<%- include('../partials/html', { 
    title : "Książka",
    styles : [ 'books/book_detail', 'books/genres', 'books/promotion' ],
}); %>

<body>
    <%- include('../partials/header') %>

    <% 
        let author = null;
        let price = null;
        let promotion = null;
        let discountedPrice = null;

        if (typeof book !== 'undefined' && book) {
            author = `${book.autor.imie} ${book.autor.nazwisko}`;
            price = book.cena;
            promotion = book.promocja;
            discountedPrice = promotion ? (price * (promotion / 100)).toFixed(2) : null; 
        }
    %>

    <main>
        <% if (typeof error !== 'undefined' && error) { %>
            <p><%= error %></p>
        <% } %>
    
        <% if (typeof book !== 'undefined' && book) { %>
            <div class="book-cover">
                <img src="/images/books/<%= book.okladka %>" alt="<%= book.tytul %>">
            </div>
    
            <div class="book-info">
                <h1><%= book.tytul %></h1>
                
                <p><strong>Autor:</strong> <%= author %></p>
                <p><strong>Opis:</strong> <%= book.opis %></p>
                <p><strong>Gatunki:</strong></p>
                
                <div>
                    <% book.gatunki.forEach(function(genre) { %>
                        <span class="gatunek-tag <%= genre.toLowerCase().replace(/\s/g, '-') %>"><%= genre %></span>
                    <% }); %>
                </div>

                <p><strong>Ilość stron:</strong> <%= book.ilosc_stron %></p>
                <p><strong>Na stanie:</strong> <%= book.ilosc_na_stanie %></p>
    
                <p><strong>Cena:</strong> 
                    <% if (discountedPrice) { %>
                        <s class="promotion-text"><%= price %> zł</s> 
                        <span class="promotion-new-text"><%= discountedPrice %> zł</span>
                    <% } else { %>
                        <%= price %> zł
                    <% } %>
                </p>
            </div>
            
            <div class="book-buttons">
                <form action="/cart/add/<%= book.id_ksiazki %>" method="POST">
                    <button type="submit" class="pill-button add-to-cart">Do koszyka</button>
                </form>
            
                <form action="/favorites/add/<%= book.id_ksiazki %>" method="POST">
                    <button type="submit" class="pill-button add-to-favorites">Dodaj do ulubionych</button>
                </form>
            </div>
        <% } %>
    </main>

    <%- include('../partials/footer') %>
</body>