<section class="book-section" data-id="<%= id %>">
    <h1><%= title %></h1>
  
    <div class="book-grid" id="<%= id %>-grid">
        <% if (typeof books !== undefined && books) { %>
            <% books.forEach((book, index) => { %>
                <article class="book-card" data-index="<%= index %>">
                    <%- include('book_short', { book }) %>
                    
                    <div class="button-collection" <% if (typeof user !== 'undefined' && user) { %> style="display: flex; justify-content: space-between;" <% } %>>
                        <a href="/home/book/<%= book.id_ksiazki %>" class="check-button">Sprawdź</a>
                        
                        <% if (typeof user !== 'undefined' && user) { %>
                            <button class="specialButton <% if (user.favoriteBooks.includes(book.id_ksiazki)) {%>specialButtonActive<%}%> favoriteButton" data-id="<%= book.id_ksiazki %>" onclick="addFavoriteBook(`<%= book.id_ksiazki %>`)"><i class="fa-solid fa-heart"></i></button>
                            <button class="specialButton <% if (user.cartBooks.includes(book.id_ksiazki)) {%>specialButtonActive<%}%> cartButton" data-id="<%= book.id_ksiazki %>" onclick="addCartBook(`<%= book.id_ksiazki %>`)"><i class="fa-solid fa-basket-shopping"></i></button>
                        <% } %>
                    </div>
                </article>
            <% }); %>
        <% } %>
    </div>
  
    <div class="section-button">
        <button id="<%= id %>-prev" class="section-button-btn">‹</button>
        <button id="<%= id %>-next" class="section-button-btn">›</button>
    </div>
</section>