<%- include('../../structure/views/head', { 
    title : 'Profil',
    styles : ['/user/css/user.css', '/user/css/login.css', '/home/css/index.css', '/header/css/header.css', '/books/css/genres.css', '/books/css/promotion.css', '/books/css/special_buttons.css'],
    scripts : ['/home/js/index.js', '/header/js/header.js', '/books/js/item_button.js']
}); %>

<body>
    <%- include('../../header/views/header') %>
    <main>
        <% if (typeof error !== 'undefined' && error) { %>
            <p class="error-message"><%= error %></p>
        <% } %>
    
        <h1 class="user-heading">Twój profil</h1>
    
        <section class="user-info">
            <p><strong>Login:</strong> <%= userInfo.login %></p>
            <p><strong>E-mail:</strong> <%= userInfo.email %></p>
            <p><strong>Imię:</strong> <%= userInfo.imie %></p>
            <p><strong>Nazwisko:</strong> <%= userInfo.nazwisko %></p>
            <p><strong>Numer telefonu:</strong> <%= userInfo.numer_telefonu %></p>
        </section>
    
        <section class="user-actions">
            <a href="/user/cart" class="pill-button action-button">
                <i class="fa-solid fa-basket-shopping"></i> Koszyk
            </a>
    
            <a href="/user/favorites" class="pill-button action-button">
                <i class="fa-solid fa-heart"></i> Ulubione
            </a>
        </section>
    
        <section class="user-nav">
            <a href="/home" class="link-back">← Wróć na stronę główną</a>
            <a href="/user/logout" class="pill-button logout-button">Wyloguj</a>
        </section>
    </main>
    
    

    <%- include('../../footer/views/footer') %>   
</body>

</html>