<%- include('../partials/html', { 
    title : "Reset hasła",
    styles : [ 'auth/authorization' ], 
    scripts :[ 'auth/authorization' ]
}); %>

<body>
    <%- include('../partials/header') %>

    <main>
        <div class="panel">
            <h1>Twój kod resetujący to: <strong><%= code %></strong></h1>
            
            <% if (typeof error !== 'undefined' && error) { %>
                <p class="error"><%= error %></p>
            <% } %>

            <form action="/auth/reset" method="POST" class="login-form" id="post-form">
                <div class="code-inputs login-div">
                    <label>Kod resetujący*</label>
                    
                    <div class="inputs" id="inputList">
                        <input type="text" inputmode="numeric" maxlength="1" class="code" required />
                        <input type="text" inputmode="numeric" maxlength="1" class="code" required />
                        <input type="text" inputmode="numeric" maxlength="1" class="code" required />
                        <input type="text" inputmode="numeric" maxlength="1" class="code" required />
                        <input type="text" inputmode="numeric" maxlength="1" class="code" required />
                        <input type="text" inputmode="numeric" maxlength="1" class="code" required />
                    </div>
                </div>

                <input type="hidden" name="resetCode" id="resetCode" />

                <div class="login-div">
                    <label for="password">Nowe hasło*</label>
                    <input type="password" name="password" id="password" required />
                </div>

                <button type="submit">Zmień hasło</button>
            </form>
        </div>
    </main>

    <%- include('../partials/footer') %>   
</body>
</html>
